{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="panel panel-default">
        <div class="panel-thumbnail">
          <div class="people-photo default">
            {{ content.field_people_photo }}
          </div>
          <div class="people-photo hover">
            {{ content.field_people_photo_hover }}
            <a href="{{ parent_url }}">
            <h2 href="">{{ 'View Profile'|t }}</h2>
            <span class="icon-plus"></span>
            </a>
          </div>
          {#<span class="icon-close fa fa-times"></span>#}
          <div class="name">
            {{ title }}
          </div>
          <div class="position">
            {{ content.field_people_position }}
          </div>
          <div class="detail-position">
            {{ content.field_people_detail_position }}
          </div>
        </div>
        <div class="popup">
          <div class="left">
            <span class="icon-close fa fa-times"></span>
            {{ content.field_people_photo }}
            <div class="block-bottom-contacts phone-contacts">
              <i class="fa fa-phone"></i>
              <a href="tel:{{ content.field_people_phone.0|render|replace({' ': ''}) }}" data-rel="external">{{ content.field_people_phone.0 }}</a>
            </div>
            <div class="block-bottom-contacts emailp-contacts">
              <a href="mailto:{{ content.field_people_email.0 }}"><i class="fa fa-at"></i>
                {{ content.field_people_email.0 }}
              </a>
            </div>
          </div>
          <div class="right">
            <div class="name">
              {{ title }}
            </div>
            <div class="position">
              {{ content.field_people_position }}
            </div>
            <span>|</span>
            <div class="detail-position">
              {{ content.field_people_detail_position }}
            </div>
            <div class="text-about-person">
              {{ content.field_people_details }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
