/*----------------------------------------*/

/*  Main CSS
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

@font-face {
    font-family: RationalTWDisplay;
    src: url(../fonts/RationalTWDisplay-Medium.otf);
    src: url(../fonts/RationalTWDisplay-Medium.ttf);

}

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue-Regular/HelveticaNeue.ttf);
}
.no-padding {
    padding: 0!important;
}

:focus {
    outline: none;
}

.no-margin {
    margin: 0!important
}

.mb-6 {
    margin-bottom: 4rem!important;
}

.mb-7 {
    margin-bottom: 7rem!important;
}

.pr-15 {
    padding-right: 15px!important;
}

.pl-15 {
    padding-left: 15px!important;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    outline: none!important;
}

input:focus,
input:hover,
input:active {
    outline: none !important;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

button:focus,
button:hover,
button:active,
a:active,
a:hover {
    outline: 0 none;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

body {
    /*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/
    font-family: RationalTWDisplay;
    font-size: 14px;
    color: #1d1d1b;
    background-color: transparent;
}

/*----------------------------------------*/

/* header CSS
/*----------------------------------------*/
.sticky-header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index:101;
    top: 0;
    padding: 0 60px;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
#block-clintons-branding img,
.sticky-header img
{
    width: 170px;
}
.navbar-expand-lg {
    padding: 20px 60px;
    padding-right: 0;
    height: 70px;
    background: #fff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 32px;
    color: #1d1d1b;
    font-weight: 500;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #1d1d1b;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-item a {
    text-transform: uppercase;
    color: #1d1d1b;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    transition: .3s;
    display: inline-block;
}

.navbar-expand-lg .navbar-nav .nav-item:first-child {
    padding-left: 0;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child {
    padding-right: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    position: relative;
}

.navbar-toggler span {
    display: block;
    background-color: #1d1d1b;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.navbar-toggler {
    padding-right: 0;
}

header {
    background-size: cover;
    width:100%;
    height: 670px;
}

.main-header .main-title-header{
    font-size: 70px;
    font-weight: 500;
    min-width: 260px;
}

#block-headertext p span ,
.main-header .text-animation h1{
    color: #7600de;
    padding: 30px 60px;
    font-size: 70px;
    font-weight: 500;
}
.main-header .text-animation{
    margin-left: 30px;
    overflow: hidden;
}

.text-header{
    display: flex;
    align-items: center;
    width: 100%;
}
.text-animation{
    height: 100%;
    display: inline-block;
    position: relative;
}
.text-animation .text{
    width: 100%;
    height: 100%;
    float: left;
    border: 10px solid #000;
    text-align: left;
    white-space:nowrap
}
.text-animation .active{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 50%;
    left: 75%;
    border: 10px solid transparent;
    background: #fff;
}
.text-animation .active::after{
    content: '';
    height: 176px;
    width: 10px;
    background: #000;
    position: absolute;
    top: -10px;
    left: -10px;
}
.text-animation .list-text{
    display: none;
}
.sticky-header{
    padding: 0 60px;
}
.dialog-off-canvas-main-canvas{
    position: relative;
}
#block-slideshow{
    margin-top: 70px;
    height: 600px;
}
.slick, .slick-wrapper,
.slick-initialized,
.slick-slider .slick-track, .slick-slider .slick-list{
    height: 100%;
}
.slick-track{
    width: 100%;
    height: 100%;
}
.slick img, .slick iframe{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.slideshow{
    position: relative;
}

.main-title-header{
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:RationalTWDisplay;
}
.main-title-header span{
    font-size: 70px;
    font-weight: 500;
}
.main-title-header .second {
    color: #d85989;
    padding: 30px 60px;
    border: 10px solid #1d1d1b;
    margin-left: 50px;
}
#people .title{
    padding: 50px 0;
}
#people{
    margin-top: -50px;
    padding-top: 50px;
}
.mt5{
    margin-top: 50px;
}
#people .title h2{
    padding-bottom: 0;
}
/*----------------------------------------*/

/*content CSS
/*----------------------------------------*/

section {
    padding: 80px 0;
    position: relative;
    font-family: HelveticaNeue;
}

.padding-min {
    padding: 50px 0;
}

.width-container {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.border-left,
.border-right {
    position: relative;
}
.border-left:after {
    height: 220px;
    width: 72px;
    border-top: 12px solid #1d1d1b;
    border-bottom: 12px solid #1d1d1b;
    border-right: 12px solid #1d1d1b;
    border-left: 0!important;
    position: absolute;
    top: -150px;
    left: 0;
    z-index: 1;
    content: '';
}

.border-right:after  {
    height: 220px;
    width: 72px;
    border-top: 12px solid #1d1d1b;
    border-bottom: 12px solid #1d1d1b;
    border-left: 12px solid #1d1d1b;
    border-right: 0!important;
    position: absolute;
    bottom: -160px;
    right: 0;
    z-index: 1;
    content: '';
}

.popup.popup-modal ul{
    list-style: disc;
    margin-left: 17px;
}
.title h2{
    padding-bottom: 30px;
    font-size: 42px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: -3px;
    font-family: RationalTWDisplay;
}

.text p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 0 230px;
    line-height: 30px;
    color: #515151;
    font-weight: 300;
}

.back-blue {
    background: #00c0d3;
}

.title-white {
    color: #fff;
}

.list {
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.list-block {
    margin-bottom: 10px;
}

.list-item{
    height: 68px;
    background-color: #00b0c2;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    position: relative;
}
.list-item h5{
    margin-bottom: 0;
}
.list-item-name{
    padding-left: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-right: 80px;
    text-transform: capitalize;
    margin-bottom: 0;
    cursor: pointer;
}
.list-item a,
.list-item a:hover,
.list-item a:focus{
    color: #fff;
}
.item-description {
    background-color: #fff;
    font-size: 16px;
}

.item-description-text {
    padding: 35px 80px 35px 30px;
}

.item-description p {
    color: #1d1d1d;
    margin-bottom: 40px;
}
.item-description-text:first-child{
    padding-bottom: 0;
    font-weight: 700;
}
.item-description-text:nth-child(2){
    opacity: 0.7;
}
.item-description:first-child p{
    margin-bottom: 0;
}
.item-title p.item-title{
    font-weight: 600;
    color: #1d1d1b!important;
}
.item-title p{
    color: #1d1d1b!important;
}
.icon-minus {
    position: absolute;
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #d85a89;
    font-weight: 300;
    font-size: 28px;
    right: 0;
    cursor: pointer;
}



.icon-plus {
    position: absolute;
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #d85a89;
    font-weight: 400;
    font-size: 20px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.icon-plus:before {
    transform: translate(-50%,-50%) rotate(90deg);
    will-change: translate,rotate;
}
.icon-plus:after {
    transform: translate(-50%,-50%);
    will-change: translate,opacity;

}
.list-item[aria-expanded="true"] .icon-plus:before{
    transform:translate(-50%,-50%) rotate(-0deg);
}
.icon-plus:after,
.icon-plus:before {
    content: "";
    width: 14px;
    height: 2px;
    border-radius: 2px;
    background-color: #d85a89;
    display: block;
    position: absolute;
    transition: all .2s ease-in-out;
    opacity: 1;
    left: 50%;
    top: 50%;
    contain: strict;
}
.icon-plus:hover:after{
    transform:translate(-50%,-50%) rotate(-180deg);
}
.icon-plus:hover:before{
    transform:translate(-50%,-50%) rotate(-90deg);
}

.list-item[aria-expanded="true"] .icon-plus:hover:after{
    transform:translate(-50%,-50%) rotate(-0deg);
}
.image-people {
    position: relative;
    background-color: #d85a89;
    opacity: 0.9999;
    padding: 80px 0;
}
.popup.popup-modal.full-text.fl-d p,
.popup.popup-modal.full-text.fl-d li{
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
}
.popup.popup-modal.full-text.fl-d ul{
    margin-bottom: 20px;
}
@media (min-width: 1180px) {
    .carousel-item.col-md-3 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
        position: absolute;
        top: 0;
        right: -20%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right{
        position: absolute;
        top: 0;
        left: -20%;
        z-index: 1;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right,
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item  + .carousel-item{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
@media (max-width: 1180px) and (min-width: 991px){
    .carousel-item.col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right,
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .carousel-item.col-md-3 {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item{
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .carousel-item-prev.carousel-item-right,
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .panel-thumbnail { overflow: hidden; }




.image-people .width-container,
.gallery-panel .width-container {
    max-width: 1280px;
}

.image-people img {
    height: 245px;
    object-fit: cover;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    object-position: 0 0%;
}
.carousel-item .panel-thumbnail p{
    color: #fff;
    text-align: center;
}
.carousel-item .panel-thumbnail .name a,
.carousel-item .panel-thumbnail .position,
.carousel-item .panel-thumbnail .detail-position{
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
}

.carousel-item .panel-thumbnail .name a{
    line-height: 30px;
    font-family: RationalTWDisplay;
    font-weight: 100;
}

.carousel-item .panel-thumbnail .name a:hover{
    text-decoration: underline;
    text-decoration-color: rgba(255,255,255,0.6);
    text-underline-position: under;
}
.carousel-item .panel-thumbnail .position,
.carousel-item .panel-thumbnail .position>div{
    font-weight: 100;
}
.map {
    width: 45%;
}

.gm-style>div:first-child>div:nth-child(3)>div:first-child>div:nth-child(3)>div:first-child img{
    opacity: 1 !important;
}

.contact-list {
    width: 48%;
    font-family: 'Source Sans Pro', sans-serif;
}

.title-contacts {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}

.contacts-link {
    display: flex;
    justify-content: space-between;
}

.left-block,
.right-block {
    width: 48%;
    color: #515151;
    font-size: 16px;
}

.left-block p,
.right-block p {
    margin-bottom: 15px;
    color: #515151;
}

.right-block {
    padding: 0 0 0 30px;
    border-left: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-block a {
    color: #515151;
    margin-bottom: 15px;
    display: inline-block;
}

.letter {
    color: #1d1d1b !Important;
    border-bottom: 2px solid #515151;
}

.bottom-block {
    margin-top: 70px;
}

.bottom-block p {
    margin-bottom: 5px;
    color: #515151;
    font-size: 16px;
}

.bottom-block a {
    color: #515151;
    border-bottom: 1px solid;
}

.gallery {
    padding: 80px 0;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    position: relative;
    width: 100%;
}

.open-btn[aria-expanded="true"] .icon-plus {
    display: none;
}

.open-btn[aria-expanded="true"] .icon-minus {
    display: flex;
}

.open-btn[aria-expanded="false"] .icon-minus {
    display: none;
}

.bottom-contacts {
    margin-top: 20px;
    border-top: 6px solid #1d1d1b;
    padding: 20px 30px;
    display: flex;

}
.bottom-contacts>p{
    margin-top: 18px;
}
.bottom-contacts p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    padding-right: 10px;
}

.foto-with-name {
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.foto-with-name p {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid;
    margin-left: 5px;
    margin-bottom: 0;
    padding-right: 0;
}
.foto-with-name img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
/*.list-item[aria-expanded="true"] .icon-plus {*/
    /*display: none;*/
/*}*/

.list-item[aria-expanded="true"] .icon-minus {
    display: flex;
}

.list-item[aria-expanded="false"] .icon-minus {
    display: none;
}

.list-item:hover,
.list-item:focus {
    color: #fff;
}


.carousel-control-next-icon {
    background-image: url(../images/icon-right.png);
}

.carousel-control-prev-icon {
    background-image: url(../images/icon-left.png);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 58px;
    height: 24px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 8%;
    opacity: 1;

}

.panel-description {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.panel-thumbnail .name p,
.panel-thumbnail .name a{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
}
.panel-thumbnail .position p,
.panel-thumbnail .position,
.panel-thumbnail .position>div{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.panel-thumbnail .detail-position p,
.panel-thumbnail .detail-position{
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.ui-accordion-content .panel-thumbnail:hover .hover {
    display: block !important;
}

.ui-accordion-content .panel-thumbnail:hover .default {
    display: none !important;
}

.bottom-people {
    background-color: #d85a89;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
}

.title-team {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.title-team h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

.gallery-panel {
    height: 60px;
    background-color: #c9517e;
}

.gallery-tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.gallery-tab-list .gallery-tab-item {
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.gallery-tab-list .gallery-tab-item:first-child {
    padding-left: 0;
}

.gallery-tab-list .gallery-tab-item:last-child {
    padding-right: 0;
}

.gallery-tab-list .icon-plus,
.gallery-tab-list .icon-minus {
    position: relative;
    width: 25px;
    height: 28px;
    background-color: transparent;
    color: #f7c457;
    display: inline-block;
    font-weight: 300;
    padding-left: 10px;
    font-size: 19px
}

.gallery-tab-list .icon-minus {
    font-size: 25px;
    margin-top: -4px;
}

.gallery-tab-item[aria-expanded="true"] .icon-plus {
    display: none;
}

.gallery-tab-item[aria-expanded="true"] .icon-minus {
    display: flex;
}

.gallery-tab-item[aria-expanded="false"] .icon-minus {
    display: none;
}

.gallery .panel-description {
    color: #515151;
}

.gallery .panel-description .name {
    color: #d85a89;
    font-weight: 500;
}

.gallery-photo {
    height: 260px;
    object-fit: cover;
    width: 100%;
}

.gallery .panel-description .detail-position {
    font-weight: 300;
}

.gallery-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
    /*	width: 100%;*/
}


.hover-item{
    display: none;
}
.hover-block {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}
.gallery-item:hover .hover-item{
    display: block;
}
.gallery-item:hover .gallery-photo{
    display: none;
}

.open-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #1d1d1b;
    color: #fff;
    height: 50px;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 20px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

.open-btn:hover,
.open-btn:focus {
    color: #fff;
}

.open-btn .icon-plus {
    height: 50px;
    width: 50px;
}

.hover-img {
    width: 100%;
    height: 212px;
    object-fit: cover;
}
.hover-description{
    position: absolute;
    max-width: 1150px;
    z-index: 1000;
    height: 590px;
    bottom: 50px;
}
.display-modal{
    background-color: #d85a89;
    width: 100%;
    padding: 60px 50px;
    display: flex;
    position: relative;
}
.block-photo{
    display: flex;
    flex-direction: column;
    width: 300px;

}
.block-photo img{
    height: 360px;
}
.block-bottom-contacts{
    background-color: #d85a89;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.block-bottom-contacts a{
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
.block-bottom-contacts a:hover,
.block-bottom-contacts a:focus{
    color: #1d1d1b;
}
.emailp-contacts a{
    border-top: 1px solid #fff;;
}

.block-bottom-contacts i{
    border-right: 1px solid #fff;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.block-bottom-contacts span{
    padding-left: 20px;
}
.block-text-about{
    width: 60%;
    margin-left: 40px;
    color: #fff;
}
.name-person{
    font-size: 30px;
    margin-bottom: 0;
}
.bottom-description-person{
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    opacity: 0.8;
}
.bottom-description-person span{
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    border-right: 1px solid;
    padding-right: 20px;
    margin-right: 10px;
}
.text-about-person{
    font-size: 16px;
    font-weight: 100;
    line-height: 30px
}
.block-text-about hr{
    height: 6px;
    background: #fff;
    width: 30px;
    margin-left: 0;
}
.hover-description{
    display: none;
}
.popup .name{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 100;
}
.popup .position{
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 10px;
}
.popup .detail-position{
    font-weight: 100;
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;
}
.popup .text-about-person{
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
    line-height: 30px;
    margin-top: 20px;

}


/*----------------------------------------*/

/*footer CSS
/*----------------------------------------*/

footer,
.footer{
    padding: 20px 60px;
    height: 130px;
}
.footer>img{
    height: 80px;
    width: 55px;
    object-fit: cover;
    object-position: 0 0%;
}
footer .navbar-expand-lg,
.footer{
    background-color: #f7c457;
    height: 180px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    position: relative;
}

.footer >a{
    height: 90px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 60px;
}
.footer >a>img{
    width: 170px;
}
.footer-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .navbar-expand-lg{
    background: transparent;
    height: 90px;
}
.bottom-footer {
    background-color: #ecbb52;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.bottom-footer p {
    margin-bottom: 0;
    font-size: 10px;
}
#quicktabs-meet_the_team .paragraph--type--people .name p,
#quicktabs-meet_the_team .panel-thumbnail .name,
#block-views-block-team-type-block-1 .paragraph--type--people .name p,
#block-views-block-team-type-block-1 .panel-thumbnail .name{
    color: #d85a89;
    font-weight: 500;
}
#quicktabs-meet_the_team .paragraph--type--people .position p,
#quicktabs-meet_the_team .panel-thumbnail .position,
#block-views-block-team-type-block-1 .paragraph--type--people .position p,
#block-views-block-team-type-block-1 .panel-thumbnail .position{
    text-align: center;
}
#quicktabs-meet_the_team .paragraph--type--people .detail-position p,
#quicktabs-meet_the_team .panel-thumbnail .detail-position,
#block-views-block-team-type-block-1  .paragraph--type--people .detail-position p,
#block-views-block-team-type-block-1  .panel-thumbnail .detail-position{
    text-align: center;
}
#quicktabs-meet_the_team .people-photo.hover img,
#block-views-block-team-type-block-1 .people-photo.hover img{
    height: 211px;
}
.popup .icon-close{
    font-size: 30px;
    color: #d85a89;
    font-weight: 500;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    padding: 20px;
}


.popup .fa-remove:before,
.popup .fa-close:before,
.popup .fa-times:before {
    content: "" !important;
}
.popup .fa-times:before {
    transform: translate(-50%,-50%) rotate(50deg);
    will-change: translate,rotate;
}
.popup .fa-times:after {
    transform: translate(-50%,-50%) rotate(130deg);;
    will-change: translate,rotate;

}
.popup .fa-times:after,
.popup .fa-times:before {
    content: "";
    width: 35px;
    height: 4px;
    background-color: #d85a89;
    display: block;
    position: absolute;
    transition: all .2s ease-in-out;
    opacity: 1;
    contain: strict;
    cursor: pointer;
}
.popup .fa-times:hover:after{
    transform:translate(-50%,-50%) rotate(-50deg);
}
.popup .fa-times:hover:before{
    transform:translate(-50%,-50%) rotate(-130deg);
}


#what_we_do{
    position: relative;
}
#what_we_do .popup.popup-modal {
    top: 200px;
    left: 50%;
    margin-left: -580px;
    position: absolute;
}

/*----------------------------------------*/

/*add new CSS
/*----------------------------------------*/
.quicktabs-ui-wrapper{
    border: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
#quicktabs-meet_the_team ul,
#block-views-block-team-type-block-1 .ui-accordion{
    /*max-width: 1280px;*/
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
    /*padding: 0 15px !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 0 !important;
    background-color: #f7c457;
    z-index: 100;
    position: relative;
    margin-bottom: 80px;

}
#quicktabs-meet_the_team ul li,
#block-views-block-team-type-block-1 .ui-accordion>div{
    background: transparent;
    border: 0;
    margin-left: 20px;
    margin-right: 20px;
}
#quicktabs-meet_the_team ul li a,
#block-views-block-team-type-block-1 .ui-accordion>div>h3{
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    position: relative;
    cursor: pointer;
    border: 0;
    background: transparent;
}
#block-views-block-team-type-block-1 .ui-accordion>div>h3 span{
    display: none;
}
#quicktabs-meet_the_team ul li a:before,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:before{
    transform: translate(-50%,-50%) rotate(90deg);
    will-change: translate,rotate;
}
#quicktabs-meet_the_team ul li a:after,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:after{
    transform: translate(-50%,-50%);
    will-change: translate,opacity;

}
#quicktabs-meet_the_team ul li[aria-expanded="true"] a:before,
#block-views-block-team-type-block-1 .ui-accordion>div>h3[aria-expanded="true"]:before{
    transform:translate(-50%,-50%) rotate(-0deg);
}
#quicktabs-meet_the_team ul li a:after,
#quicktabs-meet_the_team ul li a:before,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:after,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:before{
    content: "";
    width: 16px;
    height: 2px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #d85a89;
    display: block;
    position: absolute;
    transition: all .2s ease-in-out;
    opacity: 1;
    contain: strict;
    right: -10px;
    top: 50%;
}
#block-views-block-team-type-block-1 .ui-accordion>div>h3:hover,
#block-views-block-team-type-block-1 .ui-accordion>div>h3[aria-expanded="true"]{
    color: #d85a89;
}
#quicktabs-meet_the_team ul li a:hover:after,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:hover:after{
    transform:translate(-50%,-50%) rotate(-180deg);
}
#quicktabs-meet_the_team ul li a:hover:before,
#block-views-block-team-type-block-1 .ui-accordion>div>h3:hover:before{
    transform:translate(-50%,-50%) rotate(-90deg);
}

#quicktabs-meet_the_team ul li[aria-expanded="true"] a:hover:before,
#block-views-block-team-type-block-1 .ui-accordion>div>h3[aria-expanded="true"]:hover:before{
    transform:translate(-50%,-50%) rotate(-0deg);
}
#quicktabs-meet_the_team ul li[aria-expanded="true"] a:hover:after,
#block-views-block-team-type-block-1 .ui-accordion>div>h3[aria-expanded="true"]:hover:after{
    transform:translate(-50%,-50%) rotate(-0deg);
}

#block-quicktabsmeettheteam,
#block-views-block-team-type-block-1{
    position: relative;
}

#quicktabs-meet_the_team .ui-tabs-panel,
#block-views-block-team-type-block-1 .ui-accordion-content{
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
}
#block-views-block-team-type-block-1 .ui-accordion-content.ui-accordion-content-active{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 0;
    background: transparent;
    height: auto !important;
}

#quicktabs-meet_the_team .ui-tabs-nav{
    margin-bottom: 80px;
}
#quicktabs-meet_the_team .views-row,
#block-views-block-team-type-block-1 .ui-accordion-content>div{
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    cursor: pointer;
    position: relative;
}
#block-views-block-team-type-block-1 .ui-accordion-content .panel-default .popup{
    display: none;
}
.white-fade{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}
#quicktabs-meet_the_team .ui-tabs-panel .contextual-region{
    display: flex;
    flex-wrap: wrap;
}
/*.q-content{*/
    /*margin-top: 80px;*/
/*}*/
#quicktabs-meet_the_team .people-photo.hover,
#block-views-block-team-type-block-1 .people-photo.hover{
    display: none;
    position: relative;
}
#quicktabs-meet_the_team .people-photo img,
#block-views-block-team-type-block-1 .people-photo img{
    height: 260px;
    object-fit: cover;
    width: 100%;
    object-position: 0 0%;
}
#quicktabs-meet_the_team .people-photo.hover h2,
#block-views-block-team-type-block-1 .people-photo.hover h2{
    background-color: #1d1d1b;
    color: #fff;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    float: left;
    width: calc(100% - 49px);
}
#quicktabs-meet_the_team .people-photo.hover .icon-plus,
#block-views-block-team-type-block-1 .people-photo.hover .icon-plus{
    width: 49px;
    height: 49px;
    position: relative;
}
.popup{
    max-width: 1176px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 10;
    border: 20px solid #f7c457;
    background-color: #fff;
    padding: 20px 20px;
    position: relative;
}
.popup.popup-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.showing-modal {
    overflow: hidden;
}
.popup.popup-modal.fl-d{
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}
.popup .left{
    width: 300px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    float: left;
}
.popup .left img{
    height: 360px;
    min-width: 300px;
    object-fit: cover;
    object-position: 0 0%;
}
.popup .right{
    color: #1d1d1b;
    padding-top: 30px;
}
.icon-close{
    position: absolute;
    top: 60px;
    right: 50px;
    cursor: pointer;
}
.phone-contacts{
    display: flex;
    flex-direction: row;
}
.phone-contacts i{
    height: 50px;
    float: right;
}
.block-bottom-contacts.emailp-contacts i{
    margin-right: 20px;
}
.block-bottom-contacts.phone-contacts a{
    width:calc(100% - 50px);
    padding-left: 20px;
}
.block-bottom-contacts.phone-contacts>div{
    width:calc(100% - 50px);
}
.paragraph--type--people .right .name p{
    font-size: 30px;
    margin-bottom: 0;
    color: #fff;
}
.paragraph--type--people .name{
    text-align: center;
}
.paragraph--type--people .right .position,
.paragraph--type--people .right .detail-position{
    display: inline-block;
}
.paragraph--type--people .right .position p{
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
}
.paragraph--type--people .right .detail-position p{
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    opacity: 0.8;
}
.right span{
    margin: 0 20px;
}
.text-about-person{
    position: relative;
}
.text-about-person:before{
    position:absolute;
    height: 6px;
    width: 30px;
    background-color: #d85a89;
    content: '';
}

.ui-widget {
    font-family: RationalTWDisplay;
}
.text-about-person p{
    font-family: 'Source Sans Pro', sans-serif;
}
.text-about-person p{
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    line-height: 30px;
    padding-top: 20px;
}
.right .icon-close{
    font-size: 50px;
    right: 30px;
    top: 30px;
    z-index: 1000;
    font-weight: 100;
}
.panel-thumbnail .icon-close{
    display: none;
}
.popup .right .position, .popup .right .detail-position{
    display: inline-block;
}
.views-row .popup{
    display: none;
}
.popup .name p{
    font-size: 30px;
    margin-bottom: 0;
    font-weight:500;
}


.popup .right .position p{
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
}
.popup .right .detail-position p {
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
}
.popup.text-about-person{
    margin-top: 20px;
}
#quicktabs-meet_the_team .ui-tabs-panel .views-element-container>div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ui-tabs-hide {
    display: none !important;
}
#what_we_do .views-row{
    padding-left: 0;
    cursor: pointer;
    position: relative;
}
.bottom-contacts p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
    padding-right: 10px;
}
.item-description .paragraph--view-mode--people-service{
    padding-right: 10px;
}
.item-description .people-photo{
    display: block !important;
}

.item-description .people-photo img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
    object-position: 0 0%;
}
.item-description .panel-thumbnail{
    display: flex;
    align-items: center;
}
.item-description .panel-thumbnail .name a{
    font-weight: 500;
    font-size: 12px;
    border-bottom: 1px solid;
    margin: 0 5px;
    margin-left: 10px;
    line-height: 14px;
    color: #d85a89;
}
.column .item-description .panel-thumbnail .name{
    font-family: RationalTWDisplay;
}
.item-description .panel-thumbnail .name:hover{
    color: #f7c457;
    transition: all .2s ease-in-out;
}

#block-views-block-services-services{
    position: relative;
}
.contact-flex>div{
    display: flex;
    flex-wrap: wrap;
}
.contact-flex>div>div{
    margin-bottom: 10px;
}
.ui-dialog{
    max-width: 1160px;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border: 20px solid #f7c457 !important;
    background-color: #fff;
    padding: 20px 180px;
    min-height: auto!important;
    font-family: 'Source Sans Pro', sans-serif;
}
.ui-dialog .ui-dialog-titlebar{
    background-color: transparent;
    border: 0;
}
.ui-dialog-title{
    width: 100% !important;
    text-align: center;
    font-size: 30px;
    font-family: RationalTWDisplay;
    font-weight: 100;
    margin-top: 30px !important;
}
.ui-dialog .ui-dialog-content p{
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    line-height: 30px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: -180px;
    top: 0;
    width: 50px;
    margin: -10px 0 0 0;
    padding: 1px;
    padding-left: 15px;
    height: 50px;
    border: 0;
    background-color: transparent;
}
.ui-button .ui-icon,
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{
    background-image: none;
    background-color: transparent;
}
.ui-button{
    background-image: none !important;
    background-color: transparent;
    font-size: 30px;
    color: #d85a89;
    font-weight: 500;
    width: 50px;
    height: 50px;
    right: 10px;
}
.ui-button:before,
.ui-button:before,
.ui-button:before {
    content: "" !important;
}
.ui-button:before {
    transform: translate(-50%,-50%) rotate(50deg);
    will-change: translate,rotate;
    top: 32px;
}
.ui-button:after {
    transform: translate(-50%,-50%) rotate(130deg);;
    will-change: translate,rotate;

}
.ui-button:after,
.ui-button:before {
    content: "";
    width: 35px;
    height: 4px;
    background-color: #d85a89;
    display: block;
    position: absolute;
    transition: all .2s ease-in-out;
    opacity: 1;
    contain: strict;
    cursor: pointer;
}
.ui-button:hover:after{
    transform:translate(-50%,-50%) rotate(-50deg);
}
.ui-button:hover:before{
    transform:translate(-50%,-50%) rotate(-130deg);
}
.ui-widget-overlay {
    background: #fff/*{bgColorOverlay}*/ /*{bgImgUrlOverlay}*/ /*{bgOverlayXPos}*/ /*{bgOverlayYPos}*/ /*{bgOverlayRepeat}*/;
    opacity: .6/*{opacityOverlay}*/;
    filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}
#people .popup{
    display: none;
}
.item-full-text{
    display: none;
}
.item-description .item-description-text{
    padding-bottom: 0;
}
.item-description .read-more{
    cursor: pointer;
    padding: 0 80px 15px 30px;
    width: 100%;
    text-align: right;
}
.read-more span{
    color: #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
    font-weight: 600;
    transition: all .2s ease-in-out;
    font-family: RationalTWDisplay;
}
.read-more span:hover{
    color: #d85a89;
    border-color: #d85a89;
    transition: all .2s ease-in-out;
}

.popup.popup-modal.full-text{
   min-height: auto;
    padding: 20px 180px;
}
.popup.popup-modal.full-text .icon-close{
    top: 10px;
}
.user-login-form{
    margin: 100px auto 0;
    width: 550px;
    height: calc(100vh - 280px);
}
#block-contact section{
    padding-top: 40px;
}

.careers{
    height: 350px;
}
.careers .hero-img{
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.careers h1{
    letter-spacing: -3px;
    font-family: RationalTWDisplay;
    margin-bottom: 15px;
}
.careers .hero-img p{
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.careers .hero-img p a{
    color: #1d1d1b;
    border-bottom: 2px solid #1d1d1b;
    line-height: 20px;
    display: table;
    margin-top: 4px;
    margin-left: 7px;
}
.careers .hero-img p a:hover{
    color: #d85a89;
    border-color: #d85a89;
    transition: all .2s ease-in-out;
}
.maps-list>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.maps-list>div>div{
    width: 100%;
}
.maps-list .list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:0;
    margin-right: 0;
}
.maps-list>div>div:first-child{
    margin-right: 20px;
}
.maps-list>div>div:last-child{
    margin-left: 20px;
}
.maps-list .list .map,
.maps-list .list .contact-list{
    width: 100%;
}
.maps-list .list .contact-list{
    display: flex;
}
.maps-list .list .map{
    margin-bottom: 40px;
}
.maps-list .list .contact-list h4{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}
.maps-list .list .contact-list p,
.maps-list .list .contact-list a,
.maps-list  .right-contacts div,
.maps-list  .right-contacts span{
    font-size: 16px;
    color: #1d1d1b;
    line-height: 24px;
    margin-bottom: 20px;
}
.maps-list  .right-contacts>div{
    margin-top: 21px;
}
.maps-list .list .contact-list a:hover{
    color: #d85a89;
    transition: all .2s ease-in-out;
}
.contact-list{
    display: flex;
}
.left-contacts{
    width: 45%;
}
.left-contacts p:last-child{
    margin-bottom: 0;
}

.right-contacts{
    margin-top: 55px;
    padding-left: 25px;
    border-left: 1px solid #dddddd;
    flex-direction: column;
}
.right-contacts a:first-child{
    border-bottom: 2px solid;
    display: table;
    line-height: 18px !important;
    margin-top: -3px;
    margin-bottom: 21px !important;
}
.gm-style-iw{
    width: 77px !important;
    height: 77px !important;
    background: #00c0d3;
    border-radius: 77px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: RationalTWDisplay;
    font-size: 10px !important;
}
.gm-ui-hover-effect{
    display: none !important;
}

/*.gm-style>div>div:nth-child(2)>div:first-child>div:last-child{*/
    /*width: 10px !important;*/
/*}*/
/*#what_we_do .width-container {*/
    /*z-index: 2;*/
    /*position: relative;*/
/*}*/
/*.gm-style>div:first-child>div:last-child>div>div:last-child>div:first-child>div:first-child>div:last-child{*/
    /*width: 91px !important;*/
    /*height: 91px !important;*/
    /*border-radius: 91px !important;*/
    /*left: 8px !important;*/
    /*top: 3px !important;*/
/*}*/
/*.gm-style>div:first-child>div:last-child>div>div:last-child>div:first-child>div:first-child>div:nth-child(2){*/
    /*background-color: transparent !important;*/
    /*box-shadow: none !important;*/
/*}*/
/*!*.gm-style>div:first-child>div:last-child>div>div:last-child>div:first-child{*!*/
    /*!*top: -105px !important;*!*/
    /*!*left: -42px !important;*!*/
/*!*}*!*/
/*.gm-style>div:first-child>div:last-child>div>div:last-child>div:first-child>div:first-child>div:nth-child(3){*/
   /*display: none !important;*/
/*}*/

/*.gm-style>div:first-child>div:last-child>div>div:last-child>div:first-child>div:first-child>div:nth-child(1){*/
    /*border-right: 15px solid transparent !important;*/
    /*border-left: 15px solid transparent !important;*/
    /*border-top: 18px solid rgba(255, 255, 255, 1) !important;*/
    /*left: 40px !important;*/
    /*top: 88px !important;*/
/*}*/
.gm-style img{
    opacity: 0.4;
}
.gm-style>div:first-child>div:last-child>div>div:nth-child(3)>div{
    opacity: 1 !important;
    z-index: 1000000000000000000000;
}
.gm-style>div:first-child>div:nth-child(3)>div:first-child>div:nth-child(3)>div:first-child img{
    opacity: 1 !important;
}
h2.rational{
    font-family: RationalTWDisplay;
}
.gm-style>div:first-child>div:last-child>div>div:nth-child(3)>div:first-child>div:nth-child(3) img{
    width: 50px !important;
    height: 50px !important;
}
#block-views-block-team-type-block-1 .ui-accordion-content .name,
#block-views-block-team-type-block-1 .ui-accordion-content .position,
#block-views-block-team-type-block-1 .ui-accordion-content .detail-position{
    cursor: auto;
}
.file--mime-application-pdf{
    color: #1d1d1d;
    font-weight: 500;
}
.file--mime-application-pdf:hover {
    color: #d85a89;
    transition: all .2s ease-in-out;
}
/*----------------------------------------*/

/*media CSS
/*----------------------------------------*/

@media (max-width: 991px) and (min-width: 767px){
    .gallery-item.col-md-3 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }

    .contact-flex>div {
        display: flex;
        flex-direction: column;
    }


}


@media (max-width: 1160px) and (min-width: 769px) {
    .bottom-contacts {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-description .paragraph--view-mode--people-service {
        margin: 10px;
    }

}
@media (max-width: 1400px) {
    #quicktabs-meet_the_team ul li a,
    #block-views-block-team-type-block-1 .ui-accordion>div>h3{
        font-size: 16px;
        padding: 0 15px;

    }
    #block-views-block-team-type-block-1 .ui-accordion>div>h3:after,
    #block-views-block-team-type-block-1 .ui-accordion>div>h3:before{
        width: 14px;
    }

}

@media (max-width: 1200px) {
    #block-headertext p,
    .main-header .main-title-header,
    .main-title-header span{
        font-size: 60px;
    }{
    font-size: 60px
}
    .text p{
        padding: 0 150px;
    }
    .row-item{
        margin-left: -15px;
        margin-right: -15px;
    }
    .views-row {
        flex: 0 0 33%;
        max-width: 33%;
    }
    #quicktabs-meet_the_team .views-row,
    #block-views-block-team-type-block-1 .ui-accordion-content>div{
        flex: 0 0 33%;
        max-width: 33%;
    }

    #what_we_do .views-row{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sticky-header{
        padding: 0 30px;
    }
    .footer{
        padding: 20px 30px;
    }
    .footer >a{
        left: 30px;
    }
    .ui-dialog{
        padding: 20px 80px;
    }
    .popup.popup-modal.full-text{
        padding: 20px 80px;
    }
    .ui-dialog .ui-dialog-titlebar-close{
        right: -90px;
    }
    #what_we_do .width-container{
        z-index: 2;
        position: relative;
    }
    #quicktabs-meet_the_team ul li,
    #block-views-block-team-type-block-1 .ui-accordion>div{
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact-list>div{
        justify-content: space-between;
    }
    .left-contacts{
        width: auto;
    }
    .maps-list .list .contact-list {
        display: flex;
        justify-content: space-around;
    }


}

@media (max-width: 991px) {
    .navbar-expand-lg {
        padding: 0;
        height: auto;
    }
    .navbar-expand-lg .navbar-brand,
    .navbar-expand-lg .navbar-toggler {
        margin: 5px 15px;
    }
    footer .navbar-expand-lg{
        padding-right: 15px;
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav {
        display: flex;
        align-items: center;
        padding: 30px 15px;
        margin-top: 10px;
        border-top: 10px solid;
    }
    .navbar-expand-lg .navbar-nav .nav-item,
    .navbar-expand-lg .navbar-nav .nav-item:first-child,
    .navbar-expand-lg .navbar-nav .nav-item:last-child {
        padding-right: 15px;
        padding-left: 15px;
    }
    #block-headertext p span,
    .main-header .text-animation h1{
        font-size: 50px;
    }
    .text-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .main-header .text-animation{
        margin-left: 0;
    }
    .text p{
        padding: 0 80px;
    }
    footer .navbar-nav {
        flex-direction: row;
    }
    .popup .left{
        float: none;
        margin: 0 auto;
        display: block;
    }
    .popup.popup-modal .right{
        margin-top: 40px;
    }
    .popup.popup-modal{
        flex-direction: column;
        overflow-y: scroll;
    }
    .ui-tabs .ui-tabs-nav li{
        margin: 1px .2em 0 0;
    }
    #quicktabs-meet_the_team ul li a,
    #block-views-block-team-type-block-1 .ui-accordion>div>h3{
        font-size: 14px;
    }
    #quicktabs-meet_the_team ul li a:after,
    #block-views-block-team-type-block-1 .ui-accordion>div>h3:after{
        font-size: 21px;
    }
    .text-animation .text{
        border-width: 5px;
    }
    .sticky-header{
        padding: 0;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .sticky-header #block-menu{
        width: 100%;
    }
    .sticky-header>a{
        padding: 20px;
    }
    .main-title-header{
        flex-direction: column;
    }
    .main-title-header .second{
        margin-left: 0;
        margin-top: 20px;
    }
    #what_we_do .popup.popup-modal{
        margin-left: auto;
        left: 0;
    }
    .navbar-toggler:not(:disabled):not(.disabled){
        position: absolute;
        top: -50px;
        right: 0;
    }
    #quicktabs-meet_the_team ul li,
    #block-views-block-team-type-block-1 .ui-accordion>div{
        margin-left: 1px;
        margin-right: 1px;
    }
    #quicktabs-meet_the_team .ui-tabs-nav,
    #block-views-block-team-type-block-1 .ui-accordion{
        padding: 15px;
    }
    .maps-list>div{
        flex-direction: column;
    }
    .maps-list>div>div:first-child{
        margin-right: 0;
    }
    .maps-list>div>div:last-child{
        margin-left: 0;
    }
    .left-contacts{
        width: 45%;
    }
    .contact-list>div{
        justify-content: flex-start;
    }
    .maps-list .list .contact-list {
        display: flex;
        justify-content: flex-start;
    }

}

@media (min-width: 767px){
    .footer .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
@media (max-width: 1180px) and (min-width: 767px){
    .footer >a>img {
        width: 125px;
    }
    .footer>img{
        margin-left: 200px;
    }
}

@media (max-width: 998px) and (min-width: 767px){
    .footer>img{
        margin-left: 155px;
        margin-right: 27px;
    }
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-brand,
    .navbar-expand-lg .navbar-toggler {
        margin: 5px 15px;
    }
    #block-headertext p span,
    .main-header p span,
    .main-header .text-animation h1{
        padding: 20px 10px;
    }
    .text p{
        padding: 0;
    }
    .border-left,
    .border-right {
        display: none;
    }
    .border-right:after {
        bottom: -110px;

    }
    .list {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .map,
    .contact-list {
        width: 100%;
    }
    .contact-list {
        order: 1;
        margin-bottom: 70px;
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    .map {
        order: 2;
        text-align: center
    }
    .bottom-block {
        margin-top: 20px;
    }
    footer .navbar-expand-lg {
        flex-direction: column;
        justify-content: center;
    }
    .gallery-panel {
        height: auto;
    }
    .gallery-tab-list {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
        flex-direction: column;
    }
    .gallery-tab-list .gallery-tab-item {
        padding: 0;
        text-align: center;
        justify-content: space-between;
        margin: 10px;
        width: 90%;
    }
    #quicktabs-meet_the_team ul,
    #block-views-block-team-type-block-1 .ui-accordion{
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
        flex-direction: column;
    }
    #quicktabs-meet_the_team ul li,
    #block-views-block-team-type-block-1 .ui-accordion>div{
        margin: 10px;
        width: 100%;
    }
    #quicktabs-meet_the_team ul li a,
    #block-views-block-team-type-block-1 .ui-accordion>div>h3{
        width: 90%;
    }
    .views-row {
        flex: 0 0 50%;
        max-width: 50%;
    }
    #what_we_do .views-row{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #quicktabs-meet_the_team .views-row,
    #block-views-block-team-type-block-1 .ui-accordion-content>div{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .main-title-header .second {
        padding: 20px 10px;
    }

    .icon-close{
        top: 5px;
        right: 5px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 380px;
        justify-content: center;
        width: 100%;
        align-items: center
    }
    .footer .navbar-expand-lg{
        height: auto;
        margin-top: 20px;
    }

    .footer .navbar-nav{
        text-align: center;
    }

    .footer >a{
        height: auto;
        position: relative;
        margin-bottom: 20px;
        margin-left: -25px;
    }

    .bottom-footer {
        margin-left: 0px;
    }
    .popup .icon-close{
        top: 5px;
        right: 0;
    }
    .ui-dialog{
        width: 100% !important;
        left: 0 !important;
    }
    .ui-dialog .ui-dialog-title{
        font-size: 18px;
        margin-top: 40px !important;
    }
    .ui-dialog{
        padding: 20px 50px;
    }
    .ui-dialog .ui-dialog-titlebar-close{
        right: -50px;
    }
    .popup.popup-modal.full-text{
        padding: 20px 50px;
    }
    .popup.popup-modal.full-text .icon-close {
        top: 5px;
        right: 0;
    }
    .user-login-form{
        width: 450px;
        height: calc(100vh - 490px);
    }
    .form-text {
        width: 100%;
        min-width: 100%;
    }
    .contact-list{
        justify-content: space-between;
    }
    .left-contacts{
        width: 45%;
    }
}


@media (max-width: 567px) {
    #block-headertext p,
    .main-header p,
    .main-header .main-title-header,
    .main-header .text-animation h1{
        font-size: 32px
    }
    .contact-list {
        width: auto;
    }
    .list-item-name{
        font-size: 15px;
    }
    .list-item-name{
        padding-left: 15px;
    }
    .contacts-link {
        flex-direction: column;
    }
    .left-block,
    .right-block {
        width: 100%;
    }
    .right-block {
        padding: 0;
        border: 0;
    }
    .bottom-contacts{
        flex-direction: column;
        align-items: flex-start;;
    }
    .views-row,
    #block-views-block-team-type-block-1 .ui-accordion-content>div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    #quicktabs-meet_the_team .views-row{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .popup{
        padding: 40px;
    }
    .popup .left img{
        width: 100%;
        min-width: 100%;
    }
    .block-bottom-contacts a{
        font-size: 14px;
    }
    .popup .left{
        width: auto;
    }
    .right .icon-close{
        right: 10px;
        top: 0;
    }

    .main-title-header span {
        font-size: 32px
    }

    .contact-flex>div {
        display: flex;
        flex-direction: column;
    }

    .ui-dialog{
        padding: 20px;
    }

    .ui-dialog .ui-dialog-titlebar-close{
        right: -20px;
    }
    .popup.popup-modal.full-text{
        padding: 20px;
    }
    .user-login-form{
        width: 320px;
        height: calc(130vh - 490px);
    }
    .contact-list{
        flex-direction: column;
    }
    .right-contacts{
        padding-left: 0;
        margin-top: 25px;
        border-left: 0;
    }
}
#block-views-block-team-type-block-1,
#people{
    display: none;
}
@media (min-width: 991px){
    .navbar-expand-lg .navbar-nav .nav-item a::before {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: #1d1d1b;
        transition: .3s;
        content: '';
        display: block;
    }

    .navbar-expand-lg .navbar-nav .nav-item a:hover::before{
        width: 100%;
        transition: .3s;
    }
}

@media (max-width: 991px){
     nav .navbar-nav .nav-item{
         margin-bottom: 10px;
     }
    .navbar-expand-lg .navbar-nav .nav-item a::before {
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background: #1d1d1b;
        transition: .3s;
        content: '';
        display: block;
    }

    .navbar-expand-lg .navbar-nav .nav-item a.active::before{
        width: 100%;
        transition: .3s;
    }
}

.popup-fixed-page {
    padding: 0 20px;
    border: none;
    margin: 70px auto;
}

.popup-fixed-page .left {
    max-width: 460px;
    width: 100%;
}

@media (min-width: 991px) {
    .popup-fixed-page .right {
        margin-left: 585px;
    }
}

.people-page {
    position: relative;
}

.back-home {
    background-color: #F7C457;
    padding: 20px 60px;
}

@media (max-width: 991px) {
    .back-home {
        padding: 20px;
    }

    .popup-fixed-page {
        margin: 20px auto;
    }

    .popup-fixed-page .right {
        max-width: 460px;
        margin: auto;
    }
}

.back-home a {
    text-transform: uppercase;
    color: #fff;
}

.back-home a:before {
    content:"";
    width: 16px;
    height: 14px;
    display: inline-block;
    background: url(../images/back-arrow.png) center no-repeat;
    margin: 0 15px 0 0;
    vertical-align: -2px;
}

.page-service {

}

.back-home  {
    margin-top: 70px;
}

.back-home .max-width {
    padding-left: 15px;
}

.page-service > h1 {
    margin: 120px 0 50px;
    text-align: center;
}

.page-service-content {
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
    margin-top: 80px;
}

.header-image h1 {
    text-align: center;
    margin: 0;
    padding: 10% 20px;
    font-size: 60px;
}

.page-service-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 80px 0 50px;
}